

.container {
  padding: 40px;
  margin: 20px;
}
h1 {
  text-align: center;
  color: rgb(28, 49, 35);
}
#pink-box {
  background-color: #c086a3;
  position: static;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
}
  h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

img {
  border-radius: 50%;
}

